<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.AreaMapper">

    <resultMap id="result" type="com.api.entity.Area">
        <result property="id" column="id"/>
        <result property="areaName" column="area_name"/>
        <result property="areaCode" column="area_code"/>
		<result property="areaShort" column="area_short"/>
		<result property="areaIsHot" column="area_is_hot"/>
		<result property="areaSequence" column="area_sequence"/>
		<result property="areaParentId" column="area_parent_id"/>
		<result property="initDate" column="init_date"/>
		<result property="initAddr" column="init_addr"/>
    </resultMap>

    <select id="areaList" resultMap="result">
		SELECT * FROM dt_area
	</select>

    <select id="findAreaByName" resultMap="result">
		SELECT * FROM dt_area where area_name=#{name}
	</select>

	<select id="findAreaByPid" resultMap="result">
		SELECT * FROM dt_area where area_parent_id=#{pid}
	</select>

	<select id="findProByPid" resultMap="result">
		SELECT * FROM dt_area where area_parent_id=#{pid}
	</select>

</mapper>