<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.BaseCommuntityMapper">

    <resultMap id="result" type="com.api.entity.BaseCommuntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
		<result property="province" column="province"/>
		<result property="city" column="city"/>
		<result property="area" column="area"/>
    </resultMap>

    <select id="allList" resultMap="result">
		SELECT * FROM base_communtity
	</select>

    <select id="findByArea" resultMap="result">
		SELECT * FROM base_communtity where province=#{code} or city=#{code} or area=#{code}
	</select>

	<select id="findById" resultMap="result">
		SELECT * FROM base_communtity where id=#{id}
	</select>


</mapper>