<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.BaseFloorMapper">

    <resultMap id="result" type="com.api.entity.BaseFloor">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="num" column="num"/>
		<result property="unit" column="unit"/>
		<result property="communtityId" column="communtity_id"/>
    </resultMap>

    <select id="allList" resultMap="result">
		SELECT * FROM base_floor
	</select>

    <select id="findByName" resultMap="result">
		SELECT * FROM base_floor where id=#{name}
	</select>

	<select id="findById" resultMap="result">
		SELECT * FROM base_floor where communtity_id=#{id}
	</select>


</mapper>