<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.BaseUnitMapper">

    <resultMap id="result" type="com.api.entity.BaseUnit">
        <result property="id" column="id"/>
        <result property="num" column="num"/>
		<result property="storey" column="storey"/>
		<result property="floorId" column="floor_id"/>
    </resultMap>

    <select id="allList" resultMap="result">
		SELECT * FROM base_unit
	</select>

    <select id="findByName" resultMap="result">
		SELECT * FROM base_unit where id=#{name}
	</select>

	<select id="findById" resultMap="result">
		SELECT * FROM base_unit where floor_id=#{id}
	</select>


</mapper>