<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.BaseFamilyMapper">

    <resultMap id="result" type="com.api.entity.BaseFamily">
        <result property="id" column="id"/>
        <result property="num" column="num"/>
		<result property="unitId" column="unit_id"/>
    </resultMap>

    <select id="allList" resultMap="result">
		SELECT * FROM base_family
	</select>

    <select id="findByName" resultMap="result">
		SELECT * FROM base_family where id=#{name}
	</select>

	<select id="findById" resultMap="result">
		SELECT * FROM base_family where unit_id=#{id}
	</select>


</mapper>