<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.UserInfoMapper">

    <resultMap id="result" type="com.api.entity.UserInfo">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
		<result property="nickName" column="nick_name"/>
		<result property="icon" column="icon"/>
		<result property="status" column="status"/>
		<result property="flag" column="flag"/>
		<result property="communtityId" column="communtity_id"/>
		<result property="extend1" column="extend1"/>
		<result property="extend2" column="extend2"/>
    </resultMap>

    <select id="UserList" resultMap="result">
		SELECT * FROM user_info
	</select>

    <select id="findUserByName" resultMap="result">
		SELECT * FROM user_info where user_name=#{name}
	</select>

	<select id="findUserById" resultMap="result">
		SELECT * FROM user_info where id=#{id}
	</select>



</mapper>